body{
  padding-bottom:250px;
}
.userFrom{
  margin:0;
  width: 400px;
  border:solid 1px gray;
  padding:20px;
}
.fromGroup{
  margin-bottom: 20px;
  border-bottom: solid 1px gray;
  padding-bottom:10px;
}
.fromGroup label{
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
}
input[type=submit]{
  border:solid 2px gray;
  padding:5px 20px;
  cursor: pointer;
  font-size: 24px;
  background-color: black;
  color: #ffffff;
}
.error{
  color:red;
}
input[type=text],
input[type=email]{
  width:200px;
  padding:5px;
}
.addBtn{
  padding:15px;
  font-weight: bold;
  background-color: gray;
  font-size:20px;
}
.rmoveBtn{
  padding:5px;
  font-weight: bold;
  font-size:20px;
}
h1{
  margin:0;
  width: 400px;
  text-align: center;
  
}